#txt{
    font-family:sans-serif;
    font-size: 25px;
    color:green;
    background-color: black;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    border-width: 12px;
    border-color: green;
    border-radius: 25px;
    -moz-border-radius:25px;
} 

#letras{
        font: oblique bold 120% cursive;
        text-align: center;
        
}