body{
	margin: 0;
	font-family: sans-serif;
	background: rgba(45, 121, 255, 0.3);

}

header{
	width: 100%;
	background: #4E94AB;
}

#btn-menu{
	display: none;
	

}

header label{
	display: none;
	width: 20px;
	height: 20px;
	
	border-right: 1px solid #fff;

}

header label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.menu ul{
	margin: 0;
    list-style: none;
    padding:;
    display: flex;
   
    
}
.menu li {
	border-right: 1px solid #fff;
}

.menu li:hover {
     background: rgba(0,0,0,0.3);
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

